<%
  @id          = 'page-news'
  @path        = '..'
  @title       = 'Title News'
  @description = 'Description News'
  @keywords    = 'keywords news'
%>
<% extend @path + '/_layouts/default.ect' %>
  <div class="main page-top">
    <section class="section-news-categories"></section>
    <section class="section-news-list"></section>
    <section class="section-news-related"></section>
  </div>