<!DOCTYPE html>
<!--[if lte IE 9]><html class="ie9" lang="ja"><![endif]-->
<!--[if (gt IE 9)|!(IE)]>--><html lang="ja"><!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="<%- @description %>" />
  <meta name="keywords" content="<%- @keywords %>" />
  <title><%- @title %></title>
  <link rel="stylesheet" href="<%- @path %>/css/style.css" />
  <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="cleartype" content="on" />
  <![endif]-->
  <!--[if lte IE 9]>
    <script src="<%- @path %>/js/html5shiv.min.js"></script>
    <script src="<%- @path %>/js/IE9.min.js"></script>
    <script src="<%- @path %>/js/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<div class="container">
<% include @path + '/_parts/header.ect' %>
<% content %>
<% include @path + '/_parts/footer.ect' %>

</div>
<script src="<%- @path %>/js/libs.js"></script>
<script src="<%- @path %>/js/scripts.js"></script>
</body>
</html>