@charset "utf-8";


/*===== MORE RESET =====*/

*,
*:before,
*:after {
  @include box-sizing(border-box);
}

body * {
  max-height: 99999em;
}
body img {
  max-height: none;
}


/*===== GENERAL =====*/

body {
  color: $base-font-color;
  font-family: $base-font-sans;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  -webkit-text-size-adjust: none;
}

.ft-serif {
  font-family: $base-font-serif;
}


/*===== HELPERS =====*/

a {
  color: $base-font-color;
  text-decoration: none;
}

.trans {
  @include opacity(1);
  &:hover {
    @include opacity(.8);
  }
}

.hidden {
  display: none;
}
.invisible {
  visibility: hidden;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
  text-justify: distribute;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}

.container {
  min-width: $base-width;
}

.wrapper {
  width: $base-wrapper;
  margin-left: auto;
  margin-right: auto;
}


/*===== RESPONSIVE =====*/

@for $i from 640 through 320 {
  @if $i % 5 == 0 {
    @media (max-width: #{$i}px) {
      body {
        font-size: #{$i*100/640}px
      }
    }
  }
}

.sm {
  display: none !important;
}

@media (max-width: $base-sm-break) {

  .md {
    display: none !important;
  }
  .sm {
    display: block !important;
  }

  .trans,
  .trans:hover {
    @include opacity(1);
  }

  body {
    font-size: .12rem;
  }

  .container {
    width: auto;
    min-width: 320px;
  }
  .wrapper {
    width: auto;
    margin: 0;
    padding: 0 3.125%;
  }

}