@charset "utf-8";

$base-width       : 1000px;
$base-wrapper     : 960px;
$base-sm-break    : 640px;

$base-font-sans   : "Meiryo", Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
$base-font-serif  : "Hiragino Mincho Pro", Times, "Times New Roman", Georgia, serif;

$base-font-color  : #000;
$base-font-size   : 12px;
$base-font-weight : 400;
$base-line-height : 1.44;