extends _layouts/default

block vars
  -title        = 'Top'
  -description  = 'Description of Top'
  -keywords     = 'keywords of top'
  -bodyClass    = 'page-top'
  -path         = '.'

block container
  section.section-top-about
  section.section-top-news
  section.section-top-contact