include ../_mixins/all

block vars
  -title        = 'Title'
  -description  = 'Description'
  -keywords     = 'keywords'
  -bodyClass    = 'page-top'
  -path         = '.'

doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=1.0")
    meta(name="description", content=description)
    meta(name="keywords", content=keywords)
    title=title
    link(rel="stylesheet", href=path+"/css/style.css")
  body(class=bodyClass)
    .container
      include ../_parts/header
      block container
      include ../_parts/footer
    script(src=path+"/js/libs.js")
    script(src=path+"/js/scripts.js")