<%
  @id          = 'page-top'
  @path        = '.'
  @title       = 'Title Top'
  @description = 'Description Top'
  @keywords    = 'keywords top'
%>
<% extend @path + '/_layouts/default.ect' %>
  <div class="main page-top">
    <section class="section-top-about"></section>
    <section class="section-top-news"></section>
    <section class="section-top-contact"></section>
  </div>